<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Total Clients: <%= totalClients %></h1>
    <h1>Total Invoices: <%= totalInvoices %></h1>
    <h1>Total Paid Invoices: <%= paidInvoices %></h1>
    <h1>Total Pending Invoices: <%= pendingInvoices %></h1>
    <h1>Total Overdue Invoices: <%= overdueInvoices %></h1>
</body>
</html>